// Base color
$primary-color: #c0392b;
$primary-light: #ffd7cc;
$black :#2F4858;
$black-light :#c0c8cc;

//--navigation
$navigation-container:#9e2c27;

//_logo
$logo-container:#7d2022;
$link-hover:#b45144;

//_menu
$link-color:#ffd7ce;

// Fonts
$open-sans :'Open Sans', sans-serif;