* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #2F4858;
}

#page {
  width: 100vw;
  height: 100vh;
}

.navigation {
  background-color: #9e2c27;
}
.navigation .logo {
  background-color: #7d2022;
  padding: 1.5em 0;
}
.navigation .logo .scheme-logo {
  width: 60%;
}
.navigation .menu li {
  list-style-type: none;
  padding-left: 1em;
}
.navigation .menu li:hover {
  background-color: #b45144;
  padding-left: 1.5em;
}
.navigation .menu li a {
  text-decoration: none;
  padding: 18px 0;
  display: block;
  color: #ffd7ce;
}
.navigation .menu li a:hover {
  font-weight: 600;
}
.navigation .social-media-container .social-media-menu {
  width: 100%;
  padding: 1em 0;
  background-color: #7d2022;
}
.navigation .social-media-container .social-media-menu li {
  list-style-type: none;
}
.navigation .social-media-container .social-media-menu i {
  color: #b45144;
  font-size: 1.5rem;
}
.navigation .social-media-container .social-media-menu i:hover {
  color: #ffd7ce;
}

.contenu {
  height: 100vh;
  overflow-y: scroll;
  /* .bouton{
      background-color: #db6e50;
      padding: .625em 1.25em;
      color: #fff;
      text-decoration: none;
      border-radius: 2px;

      &:hover{
          background-color: #ce553c;
      }
  } */
}
.contenu header {
  text-align: center;
  padding: 2em 0;
}
.contenu hgroup {
  margin-bottom: 1.25em;
}
.contenu hgroup h1 {
  font-size: 4rem;
  color: #c0392b;
}
.contenu hgroup h2 {
  font-size: 2rem;
}
.contenu hgroup h3 {
  font-weight: 300;
  font-size: 1.5rem;
  max-width: 80%;
  margin: 0.5em auto;
}

.contenu-principal .caracteristique {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}
.contenu-principal .caracteristique__container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2em;
  border-radius: 4px;
}
.contenu-principal .caracteristique__img {
  width: 7em;
  margin-bottom: 0.5em;
}
.contenu-principal .caracteristique__titre {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.5rem;
}
.contenu-principal .caracteristique__paragraphe {
  text-align: center;
}

.pied-de-page {
  padding: 0 2em;
}
.pied-de-page p {
  border-top: 1px solid #f3f2f2;
  padding: 0.5em 0;
  text-align: center;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
