@use "../settings" as config;
@use "sass:math";

*{
    margin: 0;
    padding: 0;
    font-family: config.$open-sans;
    color: config.$black;
}

#page{
    width: 100vw;
    height: 100vh;
}

.navigation{
    background-color: config.$navigation-container;

    .logo{
        background-color: config.$logo-container;
        padding: 1.5em 0;

        .scheme-logo{
            width: 60%;
        }
    }

    .menu{

        li{
            list-style-type: none;
            padding-left:  1em;

            &:hover{
                background-color: config.$link-hover;
                padding-left:  1.5em;
            }

            a{
                text-decoration: none;
                padding: 18px 0;
                display: block;
                color: config.$link-color;

                &:hover{
                    font-weight: 600;
                }
            }
        }
    }

    .social-media-container{

        .social-media-menu{
            width: 100%;
            padding: 1em 0;
            background-color: config.$logo-container;

            li{
                list-style-type: none;
            }

            i{
                color: config.$link-hover;
                font-size: 1.5rem;

                &:hover{
                    color: config.$link-color;
                }
            }
        }
    }
}

.contenu{
    height: 100vh;
    overflow-y: scroll;

    header{
        text-align: center;
        padding: 2em 0;
    }

    hgroup{
        margin-bottom: 1.25em;

        h1{
            font-size: 4rem;
            color: config.$primary-color;
        }

        h2{
            font-size: 2rem;
        }

        h3{
            font-weight: 300;
            font-size: 1.5rem;
            max-width: 80%;
            margin: .5em auto;
        }
    }

    /* .bouton{
        background-color: #db6e50;
        padding: .625em 1.25em;
        color: #fff;
        text-decoration: none;
        border-radius: 2px;

        &:hover{
            background-color: #ce553c;
        }
    } */
}

.contenu-principal{

    .caracteristique{
        width: 85%;
        max-width: 1000px;
        margin: 0 auto;

        &__container{
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding: 2em;
            border-radius: 4px;
        }

        &__img{
            width: 7em;
            margin-bottom: .5em;
        }

        &__titre{
            margin-bottom: .5em;
            font-weight: 700;
            font-size: 1.50rem;
        }

        &__paragraphe{
            text-align: center;
        }
    }
}

.pied-de-page{
    padding: 0 2em;

    p{
        border-top: 1px solid #f3f2f2;
        padding: .5em 0;
        text-align: center;
        width: 100%;
    }
}